.lightMode {
  --backgroundColour: #ffffff;
  --mainText: #1D1F29;
  --secondaryText: #63687D;
  --toggleTrack: #AEB3CB;
  --toggleBall: #F1F3FA;
  --backgroundSvg: #F7F9FF;
  --cardHover: #E1E4F0;
  --cardBackground: #F1F3FA;
  --lineColour: #848BAB;
}

.darkMode {
  --backgroundColour: #1D1F29;
  --mainText: #ffffff;
  --secondaryText: #8C98C6;
  --toggleTrack: linear-gradient(225deg, #40DB82 0%, #388FE7 98.02%);
  --toggleBall: #252B42;
  --backgroundSvg: #20222F;
  --cardHover: #333A55;
  --cardBackground: #252B42;
  --lineColour: #333A55;
}

body {
  font-family: 'Inter', sans-serif;
}

.main-heading {
  font-size: 2.4rem;
  font-weight: bold;
}

@media (min-width: 44.37em) {
  .main-heading {
    font-size: 2.8rem;
  }
}

.secondary-heading {
  font-size: 2.4rem;
  font-weight: bold;
}

.sml-text {
  font-size: 1.4rem;
  font-weight: bold;
}

.xtra-sml-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.main-data-text {
  font-size: 5.6rem;
  line-height: 48px;
  letter-spacing: -2px;
  font-weight: bold;
}

.main-data-sub-text {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 5px;
}

.secondary-data-text {
  font-size: 3.2rem;
  font-weight: bold;
}

.wrapper {
  padding: 3.6rem 2.5rem 4.5rem;
}

@media (min-width: 44.37em) {
  .wrapper {
    padding: 5rem 8.2rem 7.5rem;
  }
}

.main-stats {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2.4rem;
}

.stats-cards-container {
  display: -ms-grid;
  display: grid;
  gap: 1.6rem;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.navbar {
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 57.5em) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 31.5px;
  }
}

.navbar__left {
  display: -ms-grid;
  display: grid;
  gap: .4rem;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid var(--lineColour);
}

.navbar__left h1 {
  color: var(--mainText);
}

.navbar__left p {
  color: var(--secondaryText);
}

@media (min-width: 57.5em) {
  .navbar__left {
    padding: 0;
    border: none;
  }
}

.navbar__right {
  padding: 1.6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 57.5em) {
  .navbar__right {
    padding: 0;
    gap: 13px;
  }
}

.toggle {
  position: relative;
  width: 4.8rem;
  height: 2.4rem;
  background-color: var(--toggleTrack);
  border-radius: 12px;
}

.toggle__ball {
  width: 1.8rem;
  height: 1.8rem;
  background-color: var(--toggleBall);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 3px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.main-stats {
  padding: 24px 0;
  width: 100%;
}

@media (min-width: 57.5em) {
  .main-stats {
    padding: 31.5px 0;
  }
}

.overview-card {
  padding: 32px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
  border-radius: 5px;
  background-color: var(--cardBackground);
}

.overview-card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.overview-card__top p {
  color: var(--secondaryText);
}

.overview-card__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.overview-card__middle h2 {
  color: var(--mainText);
}

.overview-card__middle p {
  color: var(--secondaryText);
}

.overview-card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.overview-card__bottom p {
  color: #1EB589;
}

.secondary-stats {
  padding: 22px 0;
}

@media (min-width: 57.5em) {
  .secondary-stats {
    padding: 15px 0;
    border: none;
  }
}

.secondary-stats__title {
  color: var(--secondaryText);
  margin-bottom: 2.4rem;
}

.stats-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.8rem 2.4rem;
  background-color: var(--cardBackground);
  border-radius: 5px;
}

.stats-card__left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
}

.stats-card__left h4 {
  color: var(--secondaryText);
}

.stats-card__left p {
  color: var(--mainText);
}

.stats-card__right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 24px;
}

.stats-card-percentage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats-card-percentage p {
  color: #1EB589;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--backgroundColour);
}
