body {
  font-family: 'Inter', sans-serif;
}

.main-heading {
  font-size: 2.4rem;
  font-weight: bold;
}

.sml-text {
  font-size: 1.4rem;
  font-weight: bold;
}

.xtra-sml-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.main-data-text {
  font-size: 5.6rem;
  line-height: 48px;
  letter-spacing: -2px;
  font-weight: bold;
}

.main-data-sub-text {
  font-weight: 400;
  letter-spacing: 5px;
}

.secondary-data-text {
  font-size: 3.2rem;
  font-weight: bold;
}

.lightMode {
  --backgroundColour: #ffffff;
  --mainText: #1D1F29;
  --secondaryText: #63687D;
  --toggleTrack: #AEB3CB;
  --toggleBall: #F1F3FA;
  --backgroundSvg: #F7F9FF;
  --cardHover: #E1E4F0;
  --cardBackground: #F1F3FA;
}

.darkMode {
  --backgroundColour: #1D1F29;
  --mainText: #ffffff;
  --secondaryText: #8C98C6;
  --toggleTrack: linear-gradient(225deg, #40DB82 0%, #388FE7 98.02%);
  --toggleBall: #252B42;
  --backgroundSvg: #20222F;
  --cardHover: #333A55;
  --cardBackground: #252B42;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
