.main-heading{
  font-size: 2.4rem; // mob
  // font-size: 2.8rem; // desk
  font-weight: bold;
}

.sml-text{
  font-size: 1.4rem;
  font-weight: bold;
}

.xtra-sml-text{
  font-size: 1.2rem;
  font-weight: bold;
}

.main-data-text{
  font-size: 5.6rem;
  line-height: 48px;
  letter-spacing: -2px;
  font-weight: bold;
}

.main-data-sub-text{
  font-weight: 400; // reg
  letter-spacing: 5px;
}

.secondary-data-text{
  font-size: 3.2rem;
  font-weight: bold;
}



