.navbar{
  width: 100%;
  text-align:left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include respond (smDesk){
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 31.5px;
  }
  &__left{
    display: grid;
    gap: .4rem;
    padding-bottom: 2.4rem;
    border-bottom: 1px solid var(--lineColour);
    h1{
      color: var(--mainText);
    }
    p{
      color: var(--secondaryText);
    }
    @include respond (smDesk){
      padding: 0;
      border: none;
    }
  }
  &__right{
    padding: 1.6rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--toggleLabel);
    &:hover{
      color: var(--toggleLabelHover);
    }
    @include respond (smDesk){
      padding: 0;
      gap: 13px;
    }
  }
}