.toggle {
  position: relative;
  width: 4.8rem;
  height: 2.4rem;
  background: var(--toggleTrack);
  border-radius: 12px;
  &:hover{
    cursor: pointer;
    background: $toggleHover;
  }
  &__ball {
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--toggleBall);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translate(0 , -50%);
    transition: all .5s;
  }
}

.toggle-active{
  transform: translate(calc(-100% - 5px) , -50%);
}