.stats-cards-container{
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  @include respond (lrgDesk) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2.4rem 3rem;
  }
}